Repository php/doc-en, pull requests merged in 2023-10, with the labels that each got.

#2832 Overhaul XML handler docs
  language-snippets.ent
  reference/xml/functions/xml-set-character-data-handler.xml
  reference/xml/functions/xml-set-default-handler.xml
  reference/xml/functions/xml-set-element-handler.xml
  reference/xml/functions/xml-set-end-namespace-decl-handler.xml
  reference/xml/functions/xml-set-external-entity-ref-handler.xml
  reference/xml/functions/xml-set-notation-decl-handler.xml
  reference/xml/functions/xml-set-object.xml
  reference/xml/functions/xml-set-processing-instruction-handler.xml
  reference/xml/functions/xml-set-start-namespace-decl-handler.xml
  reference/xml/functions/xml-set-unparsed-entity-decl-handler.xml
Labels: Extension: xml

#2602 Document LIBXML_NOXMLDECL support
  reference/dom/domdocument/savexml.xml
Labels: Extension: dom

#2889 Syncronize ext/date with the stubs based on the PHP 8.3 changes
  reference/datetime/dateerror.xml
  reference/datetime/dateexception.xml
  reference/datetime/dateinvalidoperationexception.xml
  reference/datetime/dateinvalidtimezoneexception.xml
  reference/datetime/datemalformedintervalstringexception.xml
  reference/datetime/datemalformedperiodstringexception.xml
  reference/datetime/datemalformedstringexception.xml
  reference/datetime/dateobjecterror.xml
  reference/datetime/daterangeerror.xml
Labels: method synopsis

#2890 Synchronize ext/dom class synopses with stubs based on PHP 8.3 changes
  reference/dom/domdocument.xml
  reference/dom/domelement.xml
  reference/dom/domnode.xml
Labels: method synopsis
