Repository php/doc-en, pull requests merged in 2023-08, with the labels that each got.

#2623 Update libxml installation text
  reference/libxml/setup.xml
Labels: Extension: libxml

#2624 Fix confusion around statically calling DOMDocument load methods
  language-snippets.ent
  reference/dom/domdocument/load.xml
  reference/dom/domdocument/loadhtml.xml
  reference/dom/domdocument/loadhtmlfile.xml
  reference/dom/domdocument/loadxml.xml
  reference/dom/domimplementation/createdocument.xml
  reference/dom/domimplementation/createdocumenttype.xml
  reference/dom/domimplementation/hasfeature.xml
Labels: Extension: dom

#1134 [PHP 8.0] Document returning a non-array from __sleep() warning.
  language/oop5/magic.xml
Labels: Waiting on Author

#1849 Sync docs with Memcached stubs
  reference/memcached/memcached.xml
  reference/memcached/memcached/add.xml
  reference/memcached/memcached/addbykey.xml
  reference/memcached/memcached/addserver.xml
  reference/memcached/memcached/addservers.xml
  reference/memcached/memcached/append.xml
  reference/memcached/memcached/appendbykey.xml
  reference/memcached/memcached/cas.xml
  reference/memcached/memcached/casbykey.xml
  reference/memcached/memcached/construct.xml
  reference/memcached/memcached/decrement.xml
  reference/memcached/memcached/decrementbykey.xml
  reference/memcached/memcached/delete.xml
  reference/memcached/memcached/deletebykey.xml
  reference/memcached/memcached/deletemulti.xml
  reference/memcached/memcached/deletemultibykey.xml
  reference/memcached/memcached/fetch.xml
  reference/memcached/memcached/fetchall.xml
  reference/memcached/memcached/flush.xml
  reference/memcached/memcached/get.xml
  reference/memcached/memcached/getallkeys.xml
  reference/memcached/memcached/getbykey.xml
  reference/memcached/memcached/getdelayed.xml
  reference/memcached/memcached/getdelayedbykey.xml
  reference/memcached/memcached/getmulti.xml
  reference/memcached/memcached/getmultibykey.xml
  reference/memcached/memcached/getoption.xml
  reference/memcached/memcached/getresultcode.xml
  reference/memcached/memcached/getresultmessage.xml
  reference/memcached/memcached/getserverbykey.xml
  reference/memcached/memcached/getserverlist.xml
  reference/memcached/memcached/getstats.xml
  reference/memcached/memcached/getversion.xml
  reference/memcached/memcached/increment.xml
  reference/memcached/memcached/incrementbykey.xml
  reference/memcached/memcached/ispersistent.xml
  reference/memcached/memcached/ispristine.xml
  reference/memcached/memcached/prepend.xml
  reference/memcached/memcached/prependbykey.xml
  reference/memcached/memcached/quit.xml
  reference/memcached/memcached/replace.xml
  reference/memcached/memcached/replacebykey.xml
  reference/memcached/memcached/resetserverlist.xml
  reference/memcached/memcached/set.xml
  reference/memcached/memcached/setbykey.xml
  reference/memcached/memcached/setmulti.xml
  reference/memcached/memcached/setmultibykey.xml
  reference/memcached/memcached/setoption.xml
  reference/memcached/memcached/setoptions.xml
  reference/memcached/memcached/setsaslauthdata.xml
  reference/memcached/memcached/touch.xml
  reference/memcached/memcached/touchbykey.xml
Labels: Waiting on Review

#2643 Update easter_date docs to reflect PHP 8.3 changes
  reference/calendar/functions/easter-date.xml
Labels: Extension: calendar

#2638 Create a docker container for a single-line setup and rendering
  .docker/Dockerfile
  .gitignore
  README
  docker-compose.yml
Labels: Waiting on Review

#2670 Better phrasing and code example for PDO connection management
  reference/pdo/connections.xml
Labels: QA, Extension: pdo

#2255 mysqli functions that always return true
  reference/mysqli/mysqli_result/field-seek.xml
Labels: Waiting on Author

#2454 Update Mysqli::construct() docs for return value as of PHP 8.1
  reference/mysqli/mysqli/construct.xml
Labels: Extension: mysqli
