Repository php/doc-en, pull requests merged in 2024-01, with the labels that each got.

#3059 Add PDORow class to docs
  reference/pdo/book.xml
  reference/pdo/constants.xml
  reference/pdo/pdorow.xml
  reference/pdo/pdostatement/fetch.xml
  reference/pdo/versions.xml
Labels: Extension: pdo

#3060 Add DOMNameSpaceNode class to docs
  reference/dom/book.xml
  reference/dom/domnamespacenode.xml
  reference/dom/versions.xml
Labels: Extension: dom

#3068 Incorrect param name in mb_ereg_replace_callback() docs
  reference/mbstring/functions/mb-ereg-replace-callback.xml
Labels: Status: Verified

#3092 [PHP 8.3] New pcntl constants
  reference/pcntl/constants.xml
Labels: Extension: pcntl

#3090 [PHP 8.3] Update `curl_getinfo` function
  reference/curl/functions/curl-getinfo.xml
Labels: Extension: curl

#3089 [PHP 8.3] New cURL constants
  reference/curl/constants.xml
Labels: Extension: curl

#3093 [PHP 8.3] Update Intl functions return values
  reference/intl/dateformatter/settimezone.xml
  reference/intl/intlbreakiterator/settext.xml
  reference/intl/intlchar/enumcharnames.xml
Labels: Extension: intl

#3095 [PHP 8.3] Update `mt-srand` and `srand` functions
  reference/random/functions/mt-srand.xml
  reference/random/functions/srand.xml
Labels: Extension: random

#3088 Make code examples on enumeration documentation executable
  language/enumerations.xml
Labels: QA

#3129 Update is-float.xml: missing opening PHP-tag
  reference/var/functions/is-float.xml
Labels: QA

#3130 Convert curl-getinfo() constant list to table
  reference/curl/functions/curl-getinfo.xml
Labels: QA
