Repository php/doc-en, changes with the owners that CODEOWNERS names for each.
All owners: @nielsdos, @kamil-tekiela, @TimWolla

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the documentation.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/reference/dom @nielsdos
/reference/libxml @nielsdos
/reference/mysqli @kamil-tekiela
/reference/mysqlnd @kamil-tekiela
/reference/pdo @kamil-tekiela
/reference/pdo_mysql @kamil-tekiela
/reference/random @TimWolla

Add examples to datetime serialization methods
  reference/datetime/datetimeinterface/serialize.xml
  reference/datetime/datetimeinterface/unserialize.xml
Owners: none

Correct serialize return type
  reference/datetime/datetimeinterface/serialize.xml
Owners: none

Document file permission requirements for file_exists function
  reference/filesystem/functions/file-exists.xml
Owners: none

fix typo and trailing dot
  language/oop5/property-hooks.xml
Owners: none

these are not available in 32bit pack: q, Q, J, P
  reference/misc/functions/pack.xml
Owners: none

Fix typo and trailing dot (#4643)
  language/oop5/property-hooks.xml
Owners: none

Fix "detected dubious ownership in repository" error by setting correct UID/GID in Docker build
  .docker/Dockerfile
  Makefile
Owners: none

Language snippets: fix `odbc.changelog.connection-return`
  language-snippets.ent
Owners: none

Cross-link all the string similarity functions
  reference/strings/functions/metaphone.xml
  reference/strings/functions/similar-text.xml
Owners: none

Trailing whitespace removal
  reference/strings/functions/levenshtein.xml
  reference/strings/functions/metaphone.xml
  reference/strings/functions/similar-text.xml
  reference/strings/functions/soundex.xml
  reference/strings/functions/strcmp.xml
Owners: none

Add DateTime related serialize/unserialize methods (#4410)
  reference/datetime/datetimeinterface/serialize.xml
  reference/datetime/datetimeinterface/unserialize.xml
  reference/datetime/versions.xml
Owners: none

Fix name of `rows_buffered_from_client_ps` MySQLnd statistic
  reference/mysqlnd/stats.xml
Owners: @kamil-tekiela

$php_errormsg was removed in PHP 8.0
  language/predefined/variables/phperrormsg.xml
Owners: none

feature not function
  language/predefined/variables/phperrormsg.xml
Owners: none

SensitiveParameterValue::__construct() is documented, remove warning
  language/predefined/sensitiveparametervalue/construct.xml
Owners: none

SensitiveParameterValue::getValue() is documented, remove warning
  language/predefined/sensitiveparametervalue/getvalue.xml
Owners: none

Fix name of `rows_buffered_from_client_ps` MySQLnd statistic (#4649)
  reference/mysqlnd/stats.xml
Owners: @kamil-tekiela

Array type documentation: Add a top of page link to the array functions documentation
  language/types/array.xml
Owners: none

IntlDateFormatter::localtime: Fix example (closes php#4636)
  reference/intl/dateformatter/localtime.xml
Owners: none

$php_errormsg was removed in PHP 8.0 (#4650)
  language/predefined/variables/phperrormsg.xml
Owners: none

Enable WASM for book.strings, and tweak examples
  reference/strings/book.xml
  reference/strings/functions/addcslashes.xml
  reference/strings/functions/addslashes.xml
  reference/strings/functions/chr.xml
  reference/strings/functions/chunk-split.xml
  reference/strings/functions/echo.xml
  reference/strings/functions/explode.xml
  reference/strings/functions/fprintf.xml
  reference/strings/functions/html-entity-decode.xml
  reference/strings/functions/lcfirst.xml
  reference/strings/functions/md5-file.xml
  reference/strings/functions/number-format.xml
  reference/strings/functions/ord.xml
  reference/strings/functions/parse-str.xml
  reference/strings/functions/print.xml
  reference/strings/functions/setlocale.xml
  reference/strings/functions/sha1-file.xml
  reference/strings/functions/soundex.xml
  reference/strings/functions/sprintf.xml
  reference/strings/functions/str-getcsv.xml
  reference/strings/functions/str-pad.xml
  reference/strings/functions/str-replace.xml
  reference/strings/functions/stripos.xml
  reference/strings/functions/stristr.xml
  reference/strings/functions/strlen.xml
  reference/strings/functions/strnatcmp.xml
  reference/strings/functions/strpbrk.xml
  reference/strings/functions/strpos.xml
  reference/strings/functions/strrpos.xml
  reference/strings/functions/strstr.xml
  reference/strings/functions/strtok.xml
  reference/strings/functions/strtr.xml
  reference/strings/functions/substr-compare.xml
  reference/strings/functions/substr-count.xml
  reference/strings/functions/substr.xml
  reference/strings/functions/ucfirst.xml
  reference/strings/functions/ucwords.xml
  reference/strings/functions/vfprintf.xml
Owners: none

Enable WASM for book.var, and tweak examples
  reference/var/book.xml
  reference/var/functions/get-debug-type.xml
  reference/var/functions/get-resource-type.xml
  reference/var/functions/intval.xml
  reference/var/functions/is-bool.xml
  reference/var/functions/is-countable.xml
  reference/var/functions/is-null.xml
  reference/var/functions/is-scalar.xml
  reference/var/functions/isset.xml
  reference/var/functions/print-r.xml
  reference/var/functions/serialize.xml
  reference/var/functions/settype.xml
  reference/var/functions/unserialize.xml
  reference/var/functions/unset.xml
  reference/var/functions/var-export.xml
Owners: none

Enable WASM for book.math, and tweak examples
  reference/math/book.xml
  reference/math/functions/ceil.xml
  reference/math/functions/deg2rad.xml
  reference/math/functions/exp.xml
  reference/math/functions/floor.xml
  reference/math/functions/fmod.xml
  reference/math/functions/hexdec.xml
  reference/math/functions/intdiv.xml
  reference/math/functions/max.xml
  reference/math/functions/min.xml
  reference/math/functions/pi.xml
  reference/math/functions/pow.xml
  reference/math/functions/sin.xml
  reference/math/functions/sqrt.xml
Owners: none

isset(): Add title to example
  reference/var/functions/isset.xml
Owners: none

Document Pdo\Dblib::ATTR_DATETIME_CONVERT
  reference/pdo_dblib/pdo-dblib.xml
Owners: none

Include example of SQL Server format
  reference/pdo_dblib/pdo-dblib.xml
Owners: none

isset(): Add title to example (#4656)
  reference/var/functions/isset.xml
Owners: none

Modernise parse_str description (#4556)
  reference/strings/functions/parse-str.xml
Owners: none

Update pack.xml
  reference/misc/functions/pack.xml
Owners: none

oops
  reference/misc/functions/pack.xml
Owners: none

SensitiveParameterValue::getValue() description
  language/predefined/sensitiveparametervalue/getvalue.xml
Owners: none

SensitiveParameterValue::__construct() description
  language/predefined/sensitiveparametervalue/construct.xml
Owners: none

capital F
  reference/misc/functions/pack.xml
Owners: none

Enable WASM for book.array, and tweak examples
  reference/array/book.xml
  reference/array/functions/array-combine.xml
  reference/array/functions/array-diff.xml
  reference/array/functions/array-fill.xml
  reference/array/functions/array-is-list.xml
  reference/array/functions/array-map.xml
  reference/array/functions/array-merge.xml
  reference/array/functions/array-multisort.xml
  reference/array/functions/array-pad.xml
  reference/array/functions/array-search.xml
  reference/array/functions/array-splice.xml
  reference/array/functions/array-udiff-uassoc.xml
  reference/array/functions/array.xml
  reference/array/functions/count.xml
  reference/array/functions/current.xml
  reference/array/functions/each.xml
  reference/array/functions/in-array.xml
  reference/array/functions/list.xml
  reference/array/functions/next.xml
  reference/array/functions/prev.xml
  reference/array/functions/usort.xml
  reference/array/versions.xml
Owners: none

`mt_rand()` may throw ValueError since PHP 8.0
  reference/random/functions/mt-rand.xml
Owners: @TimWolla

Update reference/random/functions/mt-rand.xml
  reference/random/functions/mt-rand.xml
Owners: @TimWolla

random: `mt_rand()` may throw ValueError since PHP 8.0 (#4660)
  reference/random/functions/mt-rand.xml
Owners: @TimWolla

Apply review suggestion
  language/predefined/sensitiveparametervalue/construct.xml
Owners: none

Document SensitiveParameterValue::__construct()
  language/predefined/sensitiveparametervalue/construct.xml
Owners: none

Document SensitiveParameterValue::getValue()
  language/predefined/sensitiveparametervalue/getvalue.xml
Owners: none
