Repository php/doc-en, changes with the owners that CODEOWNERS names for each.
All owners: @nielsdos, @kamil-tekiela, @TimWolla

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the documentation.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/reference/dom @nielsdos
/reference/libxml @nielsdos
/reference/mysqli @kamil-tekiela
/reference/mysqlnd @kamil-tekiela
/reference/pdo @kamil-tekiela
/reference/pdo_mysql @kamil-tekiela
/reference/random @TimWolla

Mention all relevant fpm pm modes
  install/fpm/configuration.xml
Owners: none

PHPC-2485: Remove support for legacy option types
  reference/mongodb/mongodb/driver/manager/executebulkwrite.xml
  reference/mongodb/mongodb/driver/manager/executecommand.xml
  reference/mongodb/mongodb/driver/manager/executequery.xml
  reference/mongodb/mongodb/driver/server/executebulkwrite.xml
  reference/mongodb/mongodb/driver/server/executecommand.xml
  reference/mongodb/mongodb/driver/server/executequery.xml
Owners: none

PHPC-2417: Add UTCDateTimeInterface::toDateTimeImmutable
  reference/mongodb/bson/utcdatetimeinterface/todatetimeimmutable.xml
  reference/mongodb/versions.xml
Owners: none

PHPC-2248: Remove Serializable interface implementations
  language-snippets.ent
  reference/mongodb/bson/binary.xml
  reference/mongodb/bson/dbpointer.xml
  reference/mongodb/bson/decimal128.xml
  reference/mongodb/bson/document.xml
  reference/mongodb/bson/int64.xml
  reference/mongodb/bson/javascript.xml
  reference/mongodb/bson/maxkey.xml
  reference/mongodb/bson/minkey.xml
  reference/mongodb/bson/objectid.xml
  reference/mongodb/bson/packedarray.xml
  reference/mongodb/bson/regex.xml
  reference/mongodb/bson/symbol.xml
  reference/mongodb/bson/timestamp.xml
  reference/mongodb/bson/undefined.xml
  reference/mongodb/bson/utcdatetime.xml
Owners: none

PHPC-2447: Extend Iterator interface in CursorInterface
  reference/mongodb/mongodb/driver/cursorinterface.xml
Owners: none

PHPC-2402: Remove range_preview client encryption constants
  reference/mongodb/mongodb/driver/clientencryption.xml
Owners: none

PHPC-2441: Remove deprecated manager constructor options
  reference/mongodb/mongodb/driver/manager/construct.xml
Owners: none

PHPC-2348: Remove WriteException
  reference/mongodb/mongodb/driver/exception/bulkwriteexception.xml
  reference/mongodb/mongodb/driver/exception/bulkwriteexception/getwriteresult.xml
  reference/mongodb/mongodb/driver/exception/writeexception.xml
  reference/mongodb/versions.xml
Owners: none

PHPC-2346: Remove BSON functions in favor of Document methods
  reference/mongodb/functions/bson/fromjson.xml
  reference/mongodb/functions/bson/fromphp.xml
  reference/mongodb/functions/bson/tocanonicalextendedjson.xml
  reference/mongodb/functions/bson/tojson.xml
  reference/mongodb/functions/bson/tophp.xml
  reference/mongodb/functions/bson/torelaxedextendedjson.xml
Owners: none

PHPC-2344: Remove SSLConnectionException
  reference/mongodb/mongodb/driver/exception/sslconnectionexception.xml
Owners: none

PHPC-2440: Remove deprecated query options
  reference/mongodb/mongodb/driver/query/construct.xml
Owners: none

PHPC-2351: Remove CursorId class and change Cursor::getId() to return Int64
  reference/mongodb/mongodb/driver/cursor/getid.xml
  reference/mongodb/mongodb/driver/cursorid.xml
  reference/mongodb/mongodb/driver/cursorinterface/getid.xml
Owners: none

PHPC-2459: Remove support for float and string args to UTCDateTime::__construct
  reference/mongodb/bson/utcdatetime/construct.xml
Owners: none

Add changelog entries for enforced return types
  language-snippets.ent
  reference/mongodb/bson/binaryinterface.xml
  reference/mongodb/bson/decimal128interface.xml
  reference/mongodb/bson/javascriptinterface.xml
  reference/mongodb/bson/objectidinterface.xml
  reference/mongodb/bson/regexinterface.xml
  reference/mongodb/bson/serializable.xml
  reference/mongodb/bson/timestampinterface.xml
  reference/mongodb/bson/unserializable.xml
  reference/mongodb/bson/utcdatetimeinterface.xml
  reference/mongodb/mongodb/driver/cursorinterface.xml
  reference/mongodb/mongodb/driver/monitoring/commandsubscriber.xml
  reference/mongodb/mongodb/driver/monitoring/sdamsubscriber.xml
Owners: none

PHPC-1021: Remove ReadPreference integer constants
  reference/mongodb/mongodb/driver/readpreference.xml
  reference/mongodb/mongodb/driver/readpreference/construct.xml
  reference/mongodb/mongodb/driver/readpreference/getmode.xml
Owners: none

Add language snippets for removed functionality changelog entries
  language-snippets.ent
  reference/mongodb/functions/bson/fromjson.xml
  reference/mongodb/functions/bson/fromphp.xml
  reference/mongodb/functions/bson/tocanonicalextendedjson.xml
  reference/mongodb/functions/bson/tojson.xml
  reference/mongodb/functions/bson/tophp.xml
  reference/mongodb/functions/bson/torelaxedextendedjson.xml
  reference/mongodb/mongodb/driver/cursorid.xml
  reference/mongodb/mongodb/driver/exception/writeexception.xml
Owners: none

PHPC-1741: Remove getServer API and manager reference from APM event classes
  reference/mongodb/mongodb/driver/monitoring/commandfailedevent/getserver.xml
  reference/mongodb/mongodb/driver/monitoring/commandstartedevent/getserver.xml
  reference/mongodb/mongodb/driver/monitoring/commandsucceededevent/getserver.xml
Owners: none

PHPC-2144: WriteResult getters throw exception if unacknowledged
  language-snippets.ent
  reference/mongodb/mongodb/driver/writeresult/getdeletedcount.xml
  reference/mongodb/mongodb/driver/writeresult/getinsertedcount.xml
  reference/mongodb/mongodb/driver/writeresult/getmatchedcount.xml
  reference/mongodb/mongodb/driver/writeresult/getmodifiedcount.xml
  reference/mongodb/mongodb/driver/writeresult/getupsertedcount.xml
Owners: none

Add information about type declarations to Class Constants (#4545)
  language/oop5/constants.xml
Owners: none

random: Fix right-open / left-open confusion for Random\IntervalBoundary (#4559)
  reference/random/random.intervalboundary.xml
Owners: @TimWolla

Left-justify "Flags" title in `format` parameter of `sprintf` (#4551)
  language-snippets.ent
Owners: none

Remove breaking includes
  reference/mongodb/mongodb/driver/exception/bulkwriteexception.xml
Owners: none

Fix duplicate XML tag
  reference/mongodb/mongodb/driver/exception/bulkwriteexception/getwriteresult.xml
Owners: none

Rename language snippet for clarity
  language-snippets.ent
  reference/mongodb/bson/binary.xml
  reference/mongodb/bson/dbpointer.xml
  reference/mongodb/bson/decimal128.xml
  reference/mongodb/bson/document.xml
  reference/mongodb/bson/int64.xml
  reference/mongodb/bson/javascript.xml
  reference/mongodb/bson/maxkey.xml
  reference/mongodb/bson/minkey.xml
  reference/mongodb/bson/objectid.xml
  reference/mongodb/bson/packedarray.xml
  reference/mongodb/bson/regex.xml
  reference/mongodb/bson/symbol.xml
  reference/mongodb/bson/timestamp.xml
  reference/mongodb/bson/undefined.xml
  reference/mongodb/bson/utcdatetime.xml
Owners: none

Note removed parameter for Cursor::getId
  reference/mongodb/mongodb/driver/cursor/getid.xml
Owners: none

Mention write results no longer returning null
  language-snippets.ent
Owners: none

Fix XML errors
  reference/mongodb/mongodb/driver/cursor.xml
  reference/mongodb/mongodb/driver/cursor/getid.xml
  reference/mongodb/mongodb/driver/monitoring/commandfailedevent/getserver.xml
  reference/mongodb/mongodb/driver/monitoring/commandstartedevent/getserver.xml
  reference/mongodb/mongodb/driver/monitoring/commandsucceededevent/getserver.xml
  reference/mongodb/mongodb/driver/readpreference/getmode.xml
  reference/mongodb/mongodb/driver/writeresult/getdeletedcount.xml
  reference/mongodb/mongodb/driver/writeresult/getinsertedcount.xml
  reference/mongodb/mongodb/driver/writeresult/getmatchedcount.xml
  reference/mongodb/mongodb/driver/writeresult/getmodifiedcount.xml
  reference/mongodb/mongodb/driver/writeresult/getupsertedcount.xml
Owners: none

Fix example code style
  reference/array/functions/array-replace-recursive.xml
Owners: none

[skip-revcheck] Put null after main type
  reference/win32service/rightinfo/get-domain.xml
  reference/win32service/rightinfo/get-full-username.xml
  reference/win32service/rightinfo/get-username.xml
Owners: none

xhprof_disable() can return null (fix #4620)
  reference/xhprof/functions/xhprof-disable.xml
  reference/xhprof/functions/xhprof-sample-disable.xml
Owners: none

Use consistent INI style (fix #648)
  reference/expect/ini.xml
  reference/sqlsrv/ini.xml
  reference/wkhtmltox/ini.xml
  reference/zookeeper/ini.xml
Owners: none

Use &no.config;
  reference/mqseries/ini.xml
Owners: none

Cubrid: Use <constant>
  reference/cubrid/constants.xml
Owners: none

ReflectionAttribute: Link Attribute constants (fix #659)
  reference/reflection/reflectionattribute/gettarget.xml
Owners: none

Flip description of PREG_OFFSET_CAPTURE (fix #1097)
  reference/pcre/constants.xml
Owners: none

SimpleXML: Add namespace example
  reference/simplexml/examples.xml
Owners: none

wkhtmltox: Inline invalid XML
  reference/wkhtmltox/wkhtmltox/bits/.xmlfragmentdir
  reference/wkhtmltox/wkhtmltox/bits/load.xml
  reference/wkhtmltox/wkhtmltox/bits/web.xml
  reference/wkhtmltox/wkhtmltox/image/converter/construct.xml
  reference/wkhtmltox/wkhtmltox/pdf/object/construct.xml
Owners: none

HTTP context header (fix #1053)
  language/context/http.xml
Owners: none

imageavif: Fix default quality (fix #1764)
  reference/image/functions/imageavif.xml
Owners: none

Remove wrong note about SQLite (fix #2272)
  reference/pdo/pdostatement/rowcount.xml
Owners: @kamil-tekiela
